<section data-ng-include=" '<%%= asset_path('headers/<%= @plural_folder_name%>.html') %>' " ></section>

<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span><%= @model_name.titleize%></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form name="show<%= @model_name%>" role="form" class="ng-pristine ng-valid AVAST_PAM_loginform">
                      <fieldset>
                        <%- columns.each do |column| -%>
                          <div class="form-group">
                            <label for="<%= column.name %>"><%= column.name.underscore.humanize %></label>
                          <%- if ['description', 'body'].include? column.name -%>
                            <textarea name="<%= @resource_name%>[<%= column.name %>]" ng-model="<%= @resource_name%>.<%= column.name %>"  class="form-control" required></textarea>
                          <%- elsif ['email'].include? column.field_type.to_s.split('_').first -%>
                            <input type="<%= column.field_type.to_s.split('_').first %>" name="<%= @resource_name%>[<%= column.name %>]" ng-model="<%= @resource_name%>.<%= column.name %>"  class="form-control" required>
                          <%- elsif ['check'].include? column.field_type.to_s.split('_').first -%>
                            <label class="ui-switch ui-switch-success"><input type="checkbox" name="<%= @resource_name%>[<%= column.name %>]" ng-model="<%= @resource_name%>.<%= column.name %>"  class="form-control" required><i></i></label>
                          <%- elsif @filters_column_names.include?(column.name) -%>
                            <filtro-<%= column.name.to_s.gsub('_id', '') -%>  class="form-control" required/>
                          <%- elsif column.foreign_key? -%>
                            <select ng-model="<%= @resource_name%>.<%= column.name %>" ng-options="item as item.Nombre for item in <%= column.name.to_s.gsub('_id', '') %>" class="form-control" required>
                              <option value="">Seleccione un <%= column.name.underscore.humanize %></option>
                            </select>
                          <%- elsif ['text'].include? column.field_type.to_s.split('_').first -%>
                            <input type="text" name="<%= @resource_name%>[<%= column.name %>]" ng-model="<%= @resource_name%>.<%= column.name %>" class="form-control" required>
                          <%- else -%>
                            <input type="<%= column.field_type.to_s.split('_').first %>" name="<%= @resource_name%>[<%= column.name %>]" ng-model="<%= @resource_name%>.<%= column.name %>" class="form-control" required>
                          <%- end -%>
                            <span ng-show="new<%= @model_name%>.<%= column.name %>.$error.required"
                                  class="help-inline">
                              Required
                            </span>
                          </div>
                        <%- end -%>
                        <div class="form-actions">
                            <button class="btn btn-success" ng-click="save()"
                              ng-disabled="isClean() || edit<%= @model_name%>.$invalid">
                              Save
                            </button>
                            <button ng-click="destroy()"
                                    ng-show="<%= @resource_name%>.id"
                                    class="btn btn-danger">
                                    <i class="icon-trash"></i>Delete
                            </button>
                            <a href="/<%= @plural_model_name%>" class="btn">
                              Back to <%= @plural_model_name.underscore.humanize%>
                            </a>
                        </div>
                      </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
