<section data-ng-include=" '<%%= asset_path('headers/<%= @plural_folder_name%>.html') %>' " ></section>

<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span><%= @model_name.titleize%></strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form name="show<%= @model_name%>">
                      <fieldset>
                        <%- columns.each do |column| -%>
                          <div class="control-group" ng-if="<%=@resource_name%>.<%= column.name %>">
                            <label class="control-label">
                              <b><%= column.name.underscore.humanize %></b>
                            </label>
                            <div class="controls">
                                <%- if ['description', 'body','descripcion','imagen'].include? column.name.downcase -%>                                <p ng-bind-html="<%=@resource_name%>.<%= column.name.to_s.gsub('_id', '.Nombre') %>"></p>
                                <%- elsif ['check'].include? column.field_type.to_s.split('_').first -%>                                <label class="ui-switch ui-switch-success"><input type="checkbox" name="<%= @resource_name%>[<%= column.name %>]" ng-model="<%= @resource_name%>.<%= column.name %>"  class="form-control" ng-disabled="true"><i></i></label>
                                <%-elsif column.foreign_key? %>                                {{<%=@resource_name%>.<%= column.name.to_s.gsub('_id', '.Nombre') %>}}
                                <%-else -%>
                                {{<%=@resource_name%>.<%= column.name %>}}
                                <%- end -%>
                            </div>
                          </div>
                        <%- end -%>
                        <div class="divider divider-dashed"></div>
                        <div class="form-actions">
                          <a href="/<%= @plural_model_name%>/{{<%= @resource_name%>.id}}/edit"
                            class="btn btn-primary"><i class="icon-edit"></i>
                            Edit <%= @model_name.titleize %>
                          </a>
                          <button ng-click="destroy()" class="btn btn-danger">
                            <i class="icon-trash"></i> Delete
                          </button>
                          <a href="/<%= @plural_model_name%>" class="btn">Back to <%= @plural_model_name.underscore.humanize%></a>
                        </div>
                      </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
